
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap');


$backgroundColor: rgb(115, 115, 115);
$blackColor:#2e2e2e ;
$whiteColor:#F4F4F2;
$redColor: red;


*{
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $whiteColor;
}
body{
    background-color: $backgroundColor;
}
// =======HEADER STYLE===
header{
    h1{
        width: 70%;
        margin:0 auto;
        margin-top: 5rem;
        text-align: center;
        border-top: 2px solid $blackColor;
        padding: 1rem;
        color: $blackColor;
        text-transform: uppercase;
    }
}
//  ====== START MAIN =======
main{
    width: 70%;
    margin:0 auto;
    text-align: center;
    background-color: $blackColor;
    border-radius: 3em;
    div{
        display: inline-block;
        input{
            margin-top: 2em;
            color: $backgroundColor;
            margin-bottom: 2em;
        }
        label{
            margin-right: 2em;
            margin-top: 2em;
            display: inline-block;   
        }
    }
    div.icons{
        display: inline-block;
        border-radius: 50%;
        border:2px solid $backgroundColor;
        margin:1em
    }
    div.icons:hover {
        border: 2px $whiteColor solid;
        background-color: $backgroundColor;
    }
   
    img{
        display: inline-block;
        margin: 0.5em;
        width: 3em;
        height: 3em;
    }
    a{
        text-decoration: none;
        text-transform: none;
        color: $blackColor;
        background-color: $backgroundColor;
        padding:0.5em 1em;
        border-color: $whiteColor;
        margin: 1em;
        display: inline-block;
        border-radius: 2em;
    }
    a:hover{
        color: $backgroundColor;
        background-color: $whiteColor;
        padding:0.5em 1em;
        border-color: $whiteColor;
        margin: 1em;
    }
} 

main{
    form, article{
        display: inline-block;
       border: solid 1px $backgroundColor;
       width: 50%;
       margin: 3em auto;
       margin-top: 1em;
       border-radius: 2em;
       h2{
           padding-top: 1em;
       }
       h3{
           background-color: $redColor;
           width: 6em;
           height: 2em;
           border-radius: 0.5em;
           padding-top: 0.5em;
           text-transform: uppercase;
       }
    }
    article{
       display: flex;
       justify-content: space-between; 
       padding: 2em;
       h3:first-of-type{
           position: relative;
           right: 5em;
       }
       h3:last-of-type{
        position: relative;
        left: 5em;
       }
       h1:hover{
        font-size: 2.5em;
    }
    }
    p{
        text-transform: uppercase;
    }
}
//  ====== END MAIN =======
.hide{
    display: none !important;
}
// ==== rules Page style. Picture still not showing up ===
figure{
    display: block;
    width: 70%;
    margin: 2em auto;
}
figcaption{
    font-size: 2em;
    padding: 1em;
}
h5{
    font-size: 1.5em;
    span{
        font-style: italic;
        color: $redColor;
    }
}
// change radio button style
.radio-toolbar label {
    display: inline-block;
    background-color: $backgroundColor;
    padding: 0.5em 1em;
  
    border-radius: 0.5em;
    width: 10em;
    margin: 1em auto;
}
// hide browser default radio button view
input[type="radio"] {
    opacity: 0;
    position: fixed;
}
// when button checked
.radio-toolbar input[type="radio"]:checked + label {
    border: 2px solid $whiteColor;
}
