@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
* {
  font-family: 'Work Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #F4F4F2;
}

body {
  background-color: #737373;
}

header h1 {
  width: 70%;
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
  border-top: 2px solid #2e2e2e;
  padding: 1rem;
  color: #2e2e2e;
  text-transform: uppercase;
}

main {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  background-color: #2e2e2e;
  border-radius: 3em;
}

main div {
  display: inline-block;
}

main div input {
  margin-top: 2em;
  color: #737373;
}

main div label {
  margin-right: 2em;
  margin-top: 2em;
}

main div.icons {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #737373;
  margin: 1em;
}

main div.icons:hover {
  border: 2px #F4F4F2 solid;
  background-color: #737373;
}

main img {
  display: inline-block;
  margin: 0.5em;
  width: 3em;
  height: 3em;
}

main a {
  text-decoration: none;
  text-transform: none;
  color: #2e2e2e;
  background-color: #737373;
  padding: 0.5em 1em;
  border-color: #F4F4F2;
  margin: 1em;
  display: inline-block;
  border-radius: 2em;
}

main a:hover {
  color: #737373;
  background-color: #F4F4F2;
  padding: 0.5em 1em;
  border-color: #F4F4F2;
  margin: 1em;
}

main form, main article {
  display: inline-block;
  border: solid 1px #737373;
  width: 50%;
  margin: 3em auto;
  margin-top: 1em;
  border-radius: 2em;
}

main form h2, main article h2 {
  padding-top: 1em;
}

main form h3, main article h3 {
  background-color: red;
  width: 6em;
  height: 2em;
  border-radius: 0.5em;
  padding-top: 0.5em;
  text-transform: uppercase;
}

main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

main article h3:first-of-type {
  position: relative;
  right: 5em;
}

main article h3:last-of-type {
  position: relative;
  left: 5em;
}

main article h1:hover {
  font-size: 2.5em;
}

main p {
  text-transform: uppercase;
}

.hide {
  display: none !important;
}

figure {
  display: block;
  width: 70%;
  margin: 2em auto;
}

figcaption {
  font-size: 2em;
  padding: 1em;
}

h5 {
  font-size: 1.5em;
}

h5 span {
  font-style: italic;
  color: red;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #F4F4F2;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #737373;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: red;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 2.2px;
  left: 2.2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #2e2e2e;
}
/*# sourceMappingURL=style.css.map */