
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

$backgroundColor: rgb(115, 115, 115);
$blackColor:#2e2e2e ;
$whiteColor:#F4F4F2;
$redColor: red;


*{
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $whiteColor;
}
body{
    background-color: $backgroundColor;
}

header{
    h1{
        width: 70%;
        margin:0 auto;
        margin-top: 5rem;
        text-align: center;
        border-top: 2px solid $blackColor;
        padding: 1rem;
        color: $blackColor;
        text-transform: uppercase;
    }
}
main{
    width: 70%;
    margin:0 auto;
    text-align: center;
    background-color: $blackColor;
    border-radius: 3em;
    div{
        display: inline-block;
        input{
            margin-top: 2em;
            color: $backgroundColor;
        }
        label{
            margin-right: 2em;
            margin-top: 2em;
        }
    }
    div.icons{
        display: inline-block;
        border-radius: 50%;
        border:2px solid $backgroundColor;
        margin:1em
    }
    div.icons:hover {
        border: 2px $whiteColor solid;
        background-color: $backgroundColor;
    }
   
    img{
        display: inline-block;
        margin: 0.5em;
        width: 3em;
        height: 3em;
    }
    a{
        text-decoration: none;
        text-transform: none;
        color: $blackColor;
        background-color: $backgroundColor;
        padding:0.5em 1em;
        border-color: $whiteColor;
        margin: 1em;
        display: inline-block;
        border-radius: 2em;
    }
    a:hover{
        color: $backgroundColor;
        background-color: $whiteColor;
        padding:0.5em 1em;
        border-color: $whiteColor;
        margin: 1em;
    }
} 
main{
    form, article{
        display: inline-block;
       border: solid 1px $backgroundColor;
       width: 50%;
       margin: 3em auto;
       margin-top: 1em;
       border-radius: 2em;
       h2{
           padding-top: 1em;
       }
       h3{
           background-color: $redColor;
           width: 6em;
           height: 2em;
           border-radius: 0.5em;
           padding-top: 0.5em;
           text-transform: uppercase;
       }
    }
    article{
       display: flex;
       justify-content: space-between; 
       padding: 2em;
       h3:first-of-type{
           position: relative;
           right: 5em;
       }
       h3:last-of-type{
        position: relative;
        left: 5em;
       }
       h1:hover{
        font-size: 2.5em;
    }
    }
    p{
        text-transform: uppercase;
    }
}
.hide{
    display: none !important;
}
figure{
    display: block;
    width: 70%;
    margin: 2em auto;
}
figcaption{
    font-size: 2em;
    padding: 1em;
}
h5{
    font-size: 1.5em;
    span{
        font-style: italic;
        color: $redColor;
    }
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: $whiteColor;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: $backgroundColor;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: $redColor;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 2.2px;
    left: 2.2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $blackColor;
}
